extends layout

block layout-content
	div.View
		h1.Banner PHYGIDAL SOLUTIONS
		div.Message
			div.Title
				h3 Here to provide
				h1 the tools you need
			span.Details Access the PHYGIDAL SOLUTIONS portal
		div.NavButtons
			a(href="/user")
				div.NavButton Here